@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap');



.adlam-regular {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sora{
    font-family: "Sora", serif;
    font-weight: 400;
    font-style: normal;
  }
/* Nav design */
.navbar{
    display: flex;
}
.font{
    font-family: Sora;
font-size: 1.52rem;
font-weight: 400;
line-height: 33px;
letter-spacing: 0%;
}
.ancor-font{
    color: rgb(17, 17, 17);
font-family: Sora;
font-size: 1.25rem;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
}
/* main body */
.title{
    color: rgb(17, 17, 17);
font-family: ADLaM Display;
font-size: 56px;
font-weight: 400;
line-height: 73px;
letter-spacing: 0%;
text-align: left;
}
.sm-title{
    color: rgb(17, 17, 17);
font-family: ADLaM Display;
font-size: 30px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0%;
text-align: left;
}
.des{
    color: rgb(17, 17, 17);
font-family: Sora;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}

.find{
    color: rgb(17, 17, 17);
font-family: Sora;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.he{
    height: 500px;
}
a:hover{
cursor: pointer;
}
button:hover{
    cursor: pointer;
}

.cat-title{
    color: rgb(17, 17, 17);
font-family: ADLaM Display;
font-size: 24px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0%;
text-align: left;
}
.back{
    background-color: #1111111a;
}
.ah{
    height: 400;
}
.ph{
height: 776px;
}


@media screen and (min-width: 786px) {
    .all{
        width: 786px;
    }
    
}